In [3]:
#Q7 MARK SHEET FOR STUDENT
Computar = v = int(input("marks of Computar"));
Science = w = int(input("marks of Science"));
English = x = int(input("marks of English"));
Islamiyat = y =int(input("marks of Islamiyat"));
Maths = z =int(input("marks of Maths"));
percent = (v+w+x+y+z)*100/500
if percent < 100 and percent > 80:
    print("Grade A+")
    print("Excellent work");
elif percent < 80 and percent > 70:
    print("Grade A")
    print("Good work");
elif percent < 70 and percent > 60:
    print("Grade B")
    print("Work hard");
elif  percent < 60 and percent > 50:
    print("Grade c")
    print("focus on your studies");
elif percent < 50:
    print("Fail")
    print("Very weak progress");
elif percent > 100:
    print("SORRY, there must be a systematic error")

marks of Computar 67
marks of Science 78
marks of English 89
marks of Islamiyat 78
marks of Maths 67

Grade A
Good work

#Q1 python code to write the poem twinkle twinkle little star

In [2]:
print("Twinkle twinkle, little star,\n   HOW i wonder what you are!\n         Up above the world so high,\n         Like a diamond in the sky.\nTwinkle twinkle little star\n   How i wonder what you are.")

Twinkle twinkle, little star,
   HOW i wonder what you are!
         Up above the world so high,
         Like a diamond in the sky.
Twinkle twinkle little star
   How i wonder what you are.

In [4]:
#Q2 program to get the python version
from platform import python_version

In [5]:
print(python_version)

<function python_version at 0x00000182056AC310>

In [6]:
#Q3 program to get the current date and time 
import time

In [7]:
time.time()

1634925166.6737032

In [8]:
time.ctime(1634925166.6737032)

'Fri Oct 22 22:52:46 2021'

In [13]:
#Q4 program that accept the radius from user and calculate the area of the circle.

In [12]:
Radius = r = int(input("value of Radius of circle"));
A = 3.142*r**2;
print(A)

value of Radius of circle 7

153.958

In [23]:
#Q5 program that accept user`s first and last name and add them in reverse order withe a space between them.

In [22]:
x =input("first name");
y =input("last name");
z = y+x
print(z)

first name  Mohammad
last name Ashir

Ashir Mohammad

In [ ]:
#Q6 A program that take 2 inputs from user and print them in additon.

In [1]:
x = int(input("value of x"));
y = int(input("value of y"));
z = x + y;
print(z)

value of x 8
value of y 9

17

In [ ]:
#Q8 A program that takes input from user and identifies the given number is even or odd

In [6]:
Number= int(input("Enter an integer value"));
remainder = Number % 2
if remainder == 0:
    print(Number,"is even number")
else:
    print(Number,"is odd number")

Enter an integer value 8

8 is even number

In [10]:
#Q10 A program to print the length of list
mylist = [12,"ali",-5,11,34,78,123]
length =len(mylist)
print("the lenght of the list is",length)

the lenght of the list is 7

In [11]:
number = [7,8,9,12,8,20,8,51];
total = sum(number)
print("the sum of all numbers in list is",total)

the sum of all numbers in list is 123

In [12]:
#Q11 A program to get the largest number of a numeric list

In [13]:
number = [7,8,9,12,8,20,8,51];
print("the largest number of this list is:",max(number))

the largest number of this list is: 51

In [14]:
#Q12a program that prints all the elements that are lesser than 5

In [20]:
a = [1,1,2,3,5,8,13,21,34,55,89]
lst = []
for i in a:
    if i<5:
        lst.append(i)
        

print(lst)

[1, 1, 2, 3]

In [21]:
#THANKS FOR COMING, ASSIGNMENT COMPLETED